@using System.Web.Configuration
@using StudyCenter.UI.ViewModel
@{
    Layout = null;
}
@model StudyCenter.Model.ViewModel.TestPaperIndex
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/Content/CSS/TestPaper.css"/>
        <link href="~/Content/CSS/TestPaperIndex.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-easyui-1.3.6/jquery.min.js"></script>
        <script src="~/Scripts/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
        <link href="~/Scripts/jquery-easyui-1.3.6/themes/icon.css" rel="stylesheet" />
        <link href="~/Scripts/jquery-easyui-1.3.6/themes/metro-blue/easyui.css" rel="stylesheet" />
        <title>试卷管理</title>
    </head>

    <body>

        
        <form id="searchForm"  method="post" action="/testpaper/index/">
            <div>
                @* <input id="Category" name ="Category" type="hidden" value="@Request.Form["Category"]"/>
            <input id="KeyWords" name="KeyWords" type="hidden" value="@Request.Form["KeyWords"]"/>     
            <input id="" name="pageIndex" type="hidden" value="@Model.Pagination.CurrentPage"/>
            <input id="" name="pageSize" type="hidden" value="@Model.Pagination.PageSize"/>
            <!--工具栏开始-->
            <div class="easyui-panel" style="padding:5px;width:745px;text-align: center;">
                 <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑</a>
                  <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'">删除</a>
                 <a href="#" class="easyui-linkbutton" onclick="javascript:window.open('/testpaper/add#');" data-options="iconCls:'icon-add'">添加</a> 
                 <a href="#" class="easyui-linkbutton" data-options="plain:false,iconCls:'icon-redo'">查看</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="easyui-searchbox" 
                       data-options="prompt:'请输入要查找的信息',menu:'#searchMenu',searcher:SearchTestPaper"
                       style="width:450px"/>
            </div>
            
            <div id="searchMenu">
                <div data-options="name:'title'">标题</div>
                <div data-options="name:'course'">课程</div>
            </div>*@

            </div>
            <!--工具栏结束-->                
            <link href="~/Content/CSS/QuestionManager.css" rel="stylesheet" />
            <div class="questionItemContanier">
                <ul class='questionItems' style="padding: 4px;margin: 5px;">
                    @{
                        foreach (var testPaper in Model.TestPapers)
                        {
                            <li class="questionItem" style="width:100%;margin: 5px;" id="TP-@(testPaper.ID)">
                                <div>
                                    <div id = "questiontitleContent" class="questiontitleContent">
                                        @{
                                            var paperType = "";
                                            var str = testPaper.PaperType.ToString();
                                            switch (str)
                                            {
                                                case "HomeWork"://HomeWork
                                                    paperType = "<font style='font-size:15;'>作业</font>";
                                                    break;
                                                case "ForTest"://ForTest
                                                    paperType = "<font style='font-size:20;color:red;font-weight:bold;'>试卷</font>";
                                                    break;
                                                case "Public"://Public
                                                    paperType = "<font style='font-size:21;'>公开</font>";
                                                    break;
                                                case "Private"://Private
                                                    paperType = "<font style='font-size:15;color:black;'>草稿</font>";
                                                    break;
                                                default:
                                                    paperType = str;
                                                    break;
                                            }
                                        }
                                        @Html.Raw( paperType)
                                    </div>
                                    <div id="questionContent" style="width: 92%;" class="questionContent" >
                                        <div class="question">
                                            <div style="float:left;width:85%">
                                                <span style="color: #09f;font-size: 18px;">
                                                    <a class="questionInfo"  href="javascript:ViewTestPaper(@testPaper.ID)">@testPaper.PaperName
                                                        <span style="font-size: 12px;color:black;font-weight:normal;">
                                                            (<span style="color: red;">@(testPaper.StudentPaper.Count)</span>人已做-
                                                            @{
                                                                var totalScore = 0;
                                                                var avgScore = 0;
                                                                if (testPaper.StudentPaper.Any())
                                                                {   
                                                                    foreach (var studentPaper in testPaper.StudentPaper)
                                                                    {
                                                                        totalScore += studentPaper.PaperScore;
                                                                    }
                                                                    avgScore = totalScore/testPaper.StudentPaper.Count;
                                                                }
                                                                
                                                            }
                                                            平均<span style="color: red;">@avgScore</span>分-
                                                            满分<span style="color: red;">@(testPaper.PaperScore)</span>分
                                                        </span>
                                                        <span style="">详情...</span>
                                                    </a>
                                                </span>
                                                <div style="width: 90%; float:right;  margin-top: 5px; margin-left: 10%; text-align: left;">
                                                    课程: <span style="color: #09f;">@testPaper.Course.CourseName</span>&nbsp;&nbsp;
                                                    By: <span style="color: #09f;">@testPaper.Publisher.UserName</span>&nbsp;&nbsp;
                                                    发布时间: <span style="color: #09f;">@testPaper.PaperDate.ToString()</span>&nbsp;&nbsp;
                                                </div>
                                            </div>
                                            <div style="margin-left:5px;padding:0; float: right ;max-width :13%;height: 100%;padding-right: 0;">
                                                <span style="font-size:30px;color:red;">@testPaper.TestMinutes</span>
                                                <span style="font-size:12px;text-align: right;">分钟</span>
                                            </div>
                                        </div>
                                        <div class="answer">
                                            <span style="color: #09f;">试卷说明:</span>
                                            <span style="color:black;font-size:17px;">@testPaper.PaperDescription</span>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var strId = testPaper.ID.ToString();
                                }
                                <input type="button"  name="q()" id="deleteTestPaperBtn" onclick=" DeleteTestPaper( @(strId));"  />
                                <input type="button"  name="q()" id="ViewTestPaperBtn" onclick="ViewTestPaper(@(strId));"  />
                            </li>
                        }
                    }
                </ul>
                <script type="text/javascript">
                    function DeleteTestPaper(testPaperId) {
                        $.ajax({
                            url: "/testpaper/delete/" + testPaperId,
                            cache: false,
                            type: "post",
                            success: function(msg) {
                                if (msg == "ok")
                                    $("#TP-" + testPaperId).fadeOut("slow", function() {
                                        $("#TP-" + testPaperId).remove();
                                        //TODO：是否可以删除一个增加一个
                                        window.location.href = window.location.href;
                                    });
                            },
                            error: function(a, b, c) {
                                document.write(a.responseText);
                                alert(a.responseText);
                            },
                            complete: function() {
                            }
                        });
                    }

                    function ViewTestPaper(testpaperId) {
                        window.open("/testpaper/edit/"+testpaperId);
                    }

                    //function SearchTestPaper(searchWords,searchType) {
                    //    $("#Category").value = searchType;
                    //    $("#KeyWords").value = searchWords;
                    //    $("#searchForm").submit();
                    //    alert("you search :" + searchWords + searchType);
                    //}

                </script>

                @{
                    Html.RenderPartial("Pagination", Model.Pagination);
                }
            </div>
        </form>  
    </body>
</html>
