@using System.Globalization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title</title>

	@Styles.Render("/Content/CSS/Header.css")
    @Scripts.Render("~/Scripts/jquery-1.8.2.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@ViewBag.UserName") {
            var uName = "@ViewBag.UserName";
                $("#loginStatus").html("<a href='/user/home'>" + uName + "</a>&nbsp<a id='logoutUrl' href='/user/logout'>" + "注销" + "</a>");
            }
        });
    </script>  
    @RenderSection("Head", required: false)

</head>

<body>
	<!--顶端条-->
	<div id="top_bar">
		<div id="internal_container">
			<a id="school_log" href="http://www.jxstnu.cn" target="_blank"></a>
			<div class="status_bar">
				<div id="loginStatus">
					<a id="loginUrl" href="/user/login">&nbsp;登陆&nbsp;</a>
				</div>
                @Html.ActionLink("网站导航","sitemap","help",null,new{id="siteMap"})
                @Html.ActionLink("通知","message","User",null,new{id="message"})
			</div>
		</div>
	</div>


	<!--头部容器 start-->
	<div class="container">
		<!--网站头部 start-->
		<div class="header">
			<!--网站文字log start-->
			<div id="log">
				<a href="/user/home" style="color: #09f">科大虚拟学院</a>
			</div><!--网站文字log end-->
			<!--网站导航菜单 start-->
			<div class="menu_list">
				<ul>
					<li class="menu_item">
						<a href="/user/index/">主页</a>
					</li>
					<li class="menu_item">
						<a href="/study/index">学习</a>
					</li>
					<li class="menu_item">
						<a href="/blog/index/">博文</a>
					</li>
					<li class="menu_item">
						<a href="/source/index/">资源</a>
					</li>
					<li class="menu_item">
						<a href="/item/index/">道具</a>
					</li>
					<li class="menu_item">
						<a href="/vote/index">投票</a>
					</li>
					<li class="menu_item">
						<a href="/help/index/">帮助</a>
					</li>
				</ul>
			</div><!--网站导航菜单 end-->
			<!--网站搜索 start-->
			<div id="search_box">
				<input type="button" id="search" />
				<input type="text" id="search_word" />
			</div><!--网站搜索 end-->
		</div><!--网站头部 end-->
	</div><!--头部容器 end-->
	<!--网站全部内容容器 start-->
	<div id="content">
		<!--网站主要内容容器 start-->
		<div id="main_content">
			@RenderBody()
		</div><!--网站主要内容容器 end-->
		<!--网站左边框容器 start-->
		<div id="side_bar">
			<!-- start 设置通告 start:noticeTitle,noticeContent,noticeUrl,noticeTime(发布了多少天)-->
			<div id="notice" class="notice_bar">
				<!--通告左边框 start-->
				<div class="notice_left">
					<p id="noticeTitle" style="font-size:15px;margin-top:9px;margin-left:9px "><strong>通告标题</strong></p>
					<p  style="font-size:12px;margin-top:3px;margin-left:9px;margin-right:2px;" id="noticeContent">
						50字通告内容:通告内容:不能超过50字,否则省略,科大虚拟学院是我校的唯一正式成立的学生课后学习及考勤的虚拟学院
					</p>
					<div style="width: 100%; height: 20px; text-align: center; vertical-align:
                            bottom; margin-bottom: 0px; margin-top: 8px; color: #00A0D0;">
						<a href="notice/id" id="noticeId">
							<div style="background-image:url(/Content/images/search.png);width:20px;
                                    height:20px;margin-left:20px;display:block;float:left;">
							</div>
						</a>
						<a href="notice/id" id="noticeUrl" style="font-size:20px;color:#3169D0;text-decoration:none;">
							点击查看
						</a>
					</div>
				</div><!--通告左边框 end-->
				<!--通告右边框 start-->
				<div class="notice_right">
					<!--<p id="noticePublisher" style="width:80px;font-size:25px;text-align:right;margin-top:2px;">吴自飞</p>-->
					<p id="noticeTime" style="font-size:44px;text-align:right;margin:10px;">331</p>
					<p style="font-size:14px;text-align:right;margin:10px;">距离发布时间</p>
				</div><!--通告右边框 end-->
			</div>
			<!-- end end end end 设置通告:end end end end-->
			@RenderSection("Sidebar", required: false)
		</div>
		<!--end end end 网站主要内容容器 end end end-->


		<div id="footer">
			@RenderSection("footer", required: false)
		</div>
	</div>
	<!--end end end 网站全部内容容器 end end end-->

</body>

</html>
